<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackDetect Tools</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Shared styles for the website -->
    <link rel="stylesheet" href="/css/tools.css"> <!-- Specific styles for Tools page -->
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">StackDetect</div>
            <div class="navbar-links">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="pricing.html">Pricing</a>
                <a href="contact.html">Contact</a>
                <a href="tools.html">Tools</a>
                <button class="cta-button-small" onclick="window.location.href='login.html'">Login</button>
            </div>
        </nav>
        <h1>Explore Our Tools</h1>
        <p>Discover powerful tools to enhance your tech strategy and make data-driven decisions.</p>
    </header>

    <main>
        <section class="tools-container">
            <h2>Choose a Tool</h2>
            <div class="tool-buttons">
                <div class="tool-button">
                    <button onclick="window.location.href='techstack.html'">Tech Stack Analyzer</button>
                    <p>Analyze the technology stacks used by industry leaders.</p>
                </div>

                <div class="tool-button">
                    <button onclick="window.location.href='api.html'">API Anaylzer</button>
                    <p>#####    .</p>
                </div>

                <div class="tool-button">
                    <button onclick="window.location.href='market.html'">Marketplace Analyzer</button>
                    <p>Explore the most popular marketplaces and see which tech stacks are trending.</p>
                </div>

                <div class="tool-button">
                    <button onclick="window.location.href='companystack.html'">Company Stack Lookup</button>
                    <p>Search for any company and view the tech stack they are using.</p>
                </div>

                <div class="tool-button">
                    <button onclick="window.location.href='tech-stack-comparison.html'">Tech Stack Comparison</button>
                    <p>Compare tech stacks between different companies and industries.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 StackDetect | Empowering Your Tech Decisions</p>
    </footer>
</body>

</html>
